.m-hamburger {
	$self: &;

    display: flex;
    position: fixed;
    z-index: 1001;
    cursor: pointer;
    top: 10px;
    right: 10px;

	@media only screen and (min-width: $ti) {
		right: 20px;
	}

	@media only screen and (min-width: $lg) {
        display: none;
    }

	//LINES
	&__lines {
		display: inline-block;
		position: relative;
		height: 40px;
		width: 30px;
	}

	&__line {
		@include transition(all, .3s);
		position: absolute;
		left: 0;
		right: 0;
		width: 30px;
		height: 3px;
		background-color: $brand1;
		border-radius: 1.5px;
		transform-origin: center;
		transform: rotate(0);

		&.-first {
			top: 10px;
		}

		&.-second {
			top: 19px;
		}

		&.-third {
			top: 28px;
		}
	}


	//TEXTS
	&__texts {
		display: none;
	}

	&__text {
		padding-right: 10px;
		color: $black;
		font-size: $fs-normal;
		line-height: 40px;

		&.-close {
			display: none;
		}

		&.-open {
			display: block;
		}
	}



	//ACTION OPEN
	&.open {
		#{$self}__text {
            color: $black;

			&.-close {
				display: block;
			}

			&.-open {
				display: none;
			}
		}

		#{$self}__line {
            background-color: $black;

			&.-first {
				top: 19px;
				transform: rotate(45deg);
			}

			&.-second {
				top: 19px;
				opacity: 0;
			}

			&.-third {
				top: 19px;
				transform: rotate(-45deg);
			}
		}
	}
}

