<style>
    .content {
        width: 100%;
        padding: 20px 15px;
        background-color: #edf1f4;
        color: #246e70;
    }

    .content h1 {
        margin: 5px 0 10px;
    }

    .button {
        background-color: #246e70;
        color: #ffffff;
        padding: 10px 20px;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }
</style>
<table class="content">
    <tr>
        <td>
            <h1>Uživatel <a href="https://www.frytolnacestach.cz/cestovatel/<%= userSlug %>" target="_blank"><%= userNickname %> tě začal sledovat</a></h1>
            <p>Podívej se na jeho <a href="https://www.frytolnacestach.cz/cestovatel/<%= userSlug %>" target="_blank"></a>profil</a> a inspiruj se jeho cestovatelskými zkušenostmi.</p>
            <br>
        </td>
    </tr>
</table>