<style>
    .content {
        width: 100%;
        padding: 20px 15px;
        background-color: #edf1f4;
        color: #246e70;
    }

    .content h1 {
        margin: 5px 0 10px;
    }

    .button {
        background-color: #246e70;
        color: #ffffff;
        padding: 10px 20px;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }
</style>
<table class="content">
    <tr>
        <td>
            <h1>Obnova hesla</h1>
            <p>Dostali jsme požadavek na obnovu hesla. Níže posíláme odkaz pro jeho obnovení.</p>
            <br>
            <a class="button" href="https://frytolnacestach.cz/ucet/obnova-hesla?email=<%= email %>&password_code=<%= codePassword %>">Obnovit heslo</a>
        </td>
    </tr>
</table>