<style>
    .content {
        width: 100%;
        padding: 20px 15px;
        background-color: #edf1f4;
        color: #246e70;
    }

    .content h1 {
        margin: 5px 0 10px;
    }

    .button {
        background-color: #246e70;
        color: #ffffff;
        padding: 10px 20px;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }
</style>
<table class="content">
    <tr>
        <td>
            <h1>Vaše registrace byla úspěšná</h1>
            <p>Děkujeme vám za registraci na cestovatelském portálu Frytol na cestách.
            Doufáme, že zde najdete všechny potřebné informace pro naplánování vaší další cesty a že nás doporučíte i dalším cestovatelům.</p>
            <br>
            <a class="button" href="https://frytolnacestach.cz/ucet/aktivace?email=<%= email %>&activation_code=<%= codeActivation %>">AKTIVACE ÚČTU</a>
        </td>
    </tr>
</table>