.cols {
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 8.333%;
	}
}

.col-2 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 16.666%;
	}
}

.col-3 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 25%;
	}
}

.col-4 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 33.333%;
	}
}

.col-5 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 41.666%;
	}
}

.col-6 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 50%;
	}
}

.col-7 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 58.333%;
	}
}

.col-8 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 66.666%;
	}
}

.col-9 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 75%;
	}
}

.col-10 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 83.333%;
	}
}

.col-11 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 91.666%;
	}
}

.col-12 {
	width: 100%;

	@media only screen and (min-width: $lg) {
		width: 100%;
	}
}
