//1-4 - tiny-s
$fs-tiny-s: 1px;
$fs-tiny-ss: 2px;
$fs-tiny-sss: 3px;
$fs-tiny-ssss: 4px;
//5 - tiny
$fs-tiny: 5px;
//6-9 - tiny-l
$fs-tiny-l: 6px;
$fs-tiny-ll: 7px;
$fs-tiny-lll: 8px;
$fs-tiny-llll: 9px;
//10-13 - small-s
$fs-small-s: 10px;
$fs-small-ss: 11px;
$fs-small-sss: 12px;
$fs-small-ssss: 13px;
//14 - small
$fs-small: 14px;
//15 - small-l
$fs-small-l: 15px;
//16-19 - normal-s
$fs-normal-s: 16px;
$fs-normal-ss: 17px;
$fs-normal-sss: 18px;
$fs-normal-ssss: 19px;
//20 - normal
$fs-normal: 20px;
//21-24 - normal-l
$fs-normal-l: 21px;
$fs-normal-ll: 22px;
$fs-normal-lll: 23px;
$fs-normal-llll: 24px;
//25-34 - large-s
$fs-large-s: 25px;
$fs-large-ss: 26px;
$fs-large-sss: 27px;
$fs-large-ssss: 28px;
//29 - large
$fs-large: 29px;
//30-33 - large-l
$fs-large-l: 30px;
$fs-large-ll: 31px;
$fs-large-lll: 32px;
$fs-large-llll: 33px;


//extra
$fs-40: 40px;

//icons
$fs-icon-60: 60px;