.level-1 {
	z-index: 1;
}

.level-2 {
	z-index: 2;
}

.level-3 {
	z-index: 3;
}

.level-4 {
	z-index: 4;
}

.level-5 {
	z-index: 5;
}

.level-10 {
	z-index: 10;
}

.level-50 {
	z-index: 50;
}

.level-100 {
	z-index: 100;
}

.level-1000 {
	z-index: 1000;
}

.level-9999 {
	z-index: 9999;
}
